<section class="right-results">
    <div class="container">
        <div class="right-results-pre-title" id="right-results-pre-title">
            Результат прохождения теста <img alt="Стрелка" src="images/small-arrow-white.png"><span>Тест №1. “JavaScript: Начальный уровень”</span>
        </div>

        <h1 class="common-title right-results-title"><span>Правильные ответы</span> к тесту</h1>

        <div class="right-results-description" id="description">Тест выполнил
            <span>Роман Чернов, roman@itlogia.ru</span></div>

        <div class="right-results-all-questions" id="all-questions">
            <!--            <div class="test-question">-->
            <!--                <div class="test-question-title">-->
            <!--                    <span>Вопрос 1:</span> Тут должен быть текст вопроса?-->
            <!--                </div>-->
            <!--                <div class="test-question-options">-->
            <!--                    <div class="test-question-option" data-correct="false">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 1</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 2</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 3</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 4</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <div class="test-question">-->
            <!--                <div class="test-question-title">-->
            <!--                    <span>Вопрос 2:</span> Тут должен быть текст вопроса?-->
            <!--                </div>-->
            <!--                <div class="test-question-options">-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 1</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option" data-correct="true">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 2</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 3</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 4</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="test-question">-->
            <!--                <div class="test-question-title">-->
            <!--                    <span>Вопрос 3:</span> Тут должен быть текст вопроса?-->
            <!--                </div>-->
            <!--                <div class="test-question-options">-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 1</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 2</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 3</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 4</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="test-question">-->
            <!--                <div class="test-question-title">-->
            <!--                    <span>Вопрос 4:</span> Тут должен быть текст вопроса?-->
            <!--                </div>-->
            <!--                <div class="test-question-options">-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 1</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 2</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 3</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 4</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="test-question">-->
            <!--                <div class="test-question-title">-->
            <!--                    <span>Вопрос 5:</span> Тут должен быть текст вопроса?-->
            <!--                </div>-->
            <!--                <div class="test-question-options">-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 1</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 2</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 3</div>-->
            <!--                    </div>-->
            <!--                    <div class="test-question-option">-->
            <!--                        <div class="round"></div>-->
            <!--                        <div class="label">Вариант ответа 4</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

        </div>
    </div>
</section>

<div class="result">
    <div class="container">
        <div class="result-link">
            <a href="javascript:void(0)" id="goto-result">Обратно к моему результату теста <img alt="Стрелка"
                                                                                                src="images/small-arrow.png"></a>
        </div>
    </div>
</div>
