.right-results {
    padding-top: 20px;
    padding-bottom: 0;
}

.right-results-pre-title {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
    display: flex;
}

.right-results-pre-title img {
    width: 8px;
    height: 15px;
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 15px;
}

.right-results-pre-title span {
    color: #6933DC;
}

.right-results-title {
    margin-top: 63px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.right-results-description {
    margin-top: 14px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.2px;
}

.right-results-description span {
    color: #6933DC;
}

.right-results-all-questions {
    margin-top: 61px;
}

.test-question-title {
    font-size: 36px;
    line-height: 43px;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.test-question-title span {
    color: #6933DC;
}

.test-question-options {
    margin-top: 40px;
    min-height: 216px;
}

.test-question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}

.test-question-option .label {
    cursor: default;
}

.round {
    box-sizing: border-box;
    min-width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    margin: 2px 13px 0 0;
}

.result {
    padding-top: 0;
    padding-bottom: 18px;
}

.result .container {
    display: flex;
    justify-content: right;
}

.result-link {
    display: flex;
    justify-content: flex-end;
}

.result-link a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.result-link a:hover {
    text-decoration: underline;
}

.result-link a img {
    margin-left: 13px;
}

.test-question-option[data-correct="true"] .round {
    border: 6px solid #5FDC33;
}

.test-question-option[data-correct="true"] .label {
    color: #5FDC33;
}

.test-question-option[data-correct="false"] .round {
    border: 6px solid #DC3333;
}

.test-question-option[data-correct="false"] .label {
    color: #DC3333;
}